/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.sidenav-fixed {
    margin-top: 64px;
}

.less-margin-bottom {
    margin-bottom: -22px;
}


.less-margin-top-bottom {
    margin-top: -22px;
    margin-bottom: -22px;
}

.less-margin-top {
    margin-top: -22px;
}

@media (min-width: 991px) {
    main {
        padding-left: 295px;
    }

    footer {
        padding-left: 295px;
    }

    .sidenav {
        width: 15%;
    }

    .brand-logo {
        margin-left: 2%;
    }
}

@media (max-width: 450px) {
    nav .brand-logo {
        font-size: 1.5rem;
    }
}

@media (max-width: 350px) {
    nav .brand-logo {
        font-size: 1rem;
    }
}

@media (max-width: 991px) {
    .brand-logo {
        margin-left: 64px;
    }

    .input-field input[type=search] {
        padding-left: 64px;
    }
}

.state-abierta {
    color: green;
}

.state-cerrada {
    color: #d32f2f ;
}

.inline-icon {
   vertical-align: bottom;
   font-size: 18px !important;
}

.base-color { /* para header y footer*/
    background-color: #3f51b5;
    /*opciones #1a237e #3f51b5 #3f51b5 #1e88e5 #1565c0 #0d47a1*/
}
.menu-color { /* para menu barra lateral */
    background-color: #e8eaf6;
    /*opciones #e3f2fd #ede7f6 #ffebee   #e8eaf6*/
}


.tabs {
    background-color: #e8eaf6;
    /*border-color: midnightblue;*/
    /*border-right-color: midnightblue;*/
}

.tabs .tab a{
    color:#000;
} /*Black color to the text*/

.tabs .tab a:hover {
    background-color: #e0e0e0;
    color:#000;
} /*Text color on hover*/

.tabs .tab a.active {
    background-color: #ffffff;
    color: #000000;
    text-line-through-color: #000000;
    border-right: 1px solid #9fa8da;
    border-top: 1px solid #9fa8da;
    border-left: 1px solid #9fa8da;
} /*Background and text color when a tab is active*/

.tabs .tab a.disabled {
    color: #000;
    border-bottom: 1px solid;
}
.tabs .indicator {
    background-color: #ffffff;
} /*Color of underline*/

/*botones */
.btn:hover {
    background-color: #2196f3;
    /*#5c6bc0*/
}
.btn {
    background-color: #3f51b5;
    border: 1px solid black;
}

/*tarjetas*/
.card {
    background-color: 	#e8eaf6;
}

.card-content {
    color:  #000000;
}


.input-field {
    background-color: #3f51b5;
    color: #ffffff !important;
    border-left: 1px solid midnightblue;
    border-right: 1px solid midnightblue;
}
.input-field:hover {
    background-color: #5c6bc0;
}

::-webkit-input-placeholder { /* Chrome */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: white;
  opacity: 1;
}

.select-area {
    background-color: #3f51b5;
    color: #ffffff !important;
}

.select-area:hover {
    background-color: #5c6bc0;
}