/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.sidenav-fixed {
    margin-top: 64px;
}

.less-margin-bottom {
    margin-bottom: -22px;
}


.less-margin-top-bottom {
    margin-top: -22px;
    margin-bottom: -22px;
}

.less-margin-top {
    margin-top: -22px;
}

.sidenav {
    width: 15%;
}


@media (min-width: 991px) {
    main {
        padding-left: 295px;
    }

    footer {
        padding-left: 295px;
    }
}

@media (max-width: 450px) {
    nav .brand-logo {
        font-size: 1.5rem;
    }
}

@media (max-width: 350px) {
    nav .brand-logo {
        font-size: 1rem;
    }
}

@media (max-width: 991px) {
    .brand-logo {
        margin-left: 64px;
    }

    .input-field input[type=search] {
        padding-left: 64px;
    }
}

.state-abierta {
    color: green;
}

.state-cerrada {
    color: #d32f2f ;
}

.inline-icon {
   vertical-align: bottom;
   font-size: 18px !important;
}

.base-color { /* para header y footer*/
    background-color: midnightblue;
    /*opciones #1a237e #3f51b5 #3f51b5 #1e88e5 #1565c0 #0d47a1*/
}
.menu-color { /* para menu barra lateral */
    background-color: #e8eaf6;
    /*opciones #e3f2fd #ede7f6 #ffebee*/
}


/*.tabs {*/
    /*background-color: #c5cae9;*/
/*}*/

/*.tabs .tab a{*/
    /*color:#000;*/
/*} !*Black color to the text*!*/

/*.tabs .tab a:hover {*/
    /*background-color: #ffffff;*/
    /*color:#000;*/
/*} !*Text color on hover*!*/

.tabs .tab a.active {
    /*background-color: #e0f7fa;*/
    color: #000000;
} /*Background and text color when a tab is active*/

.tabs .tab a.disabled {
    color: #000;
}
/*.tabs .indicator {*/
    /*background-color: midnightblue;*/
/*} !*Color of underline*!*/


/*botones */
.btn:hover {
    background-color: #2196f3;
}
.btn {
    background-color: midnightblue;
}