{% extends 'base.html' %}

{% block content %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aspernatur consequatur cupiditate doloribus expedita fuga fugit hic illum ipsa ipsam iste, maiores neque nihil quas quod veniam? Animi, esse.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis culpa deleniti dolores, exercitationem hic in ipsa itaque, labore libero natus nemo numquam reprehenderit similique, tempore ullam vel voluptas! Rerum, veniam?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cumque debitis dicta eaque fugiat illo libero odio odit officiis provident quasi, quis repellat tempore ut voluptates. Harum laborum obcaecati sed.
            </p>
            <h4 class="header center black-text">Últimas 10 Coevaluaciones</h4>
        </div>
    </div>
    </div>
    <div class="container">

        <table class="highlight responsive-table">
            <thead>
            <tr>
                <th>Coevaluación</th>
                <th>Curso</th>
                <th>Estado</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>Coevaluación 1</td>
                <td>Curso X</td>
                <td>Activa</td>
                <td><a href="#">Ver</a> </td>
            </tr>
            <tr>
                <td>Coevaluación 2</td>
                <td>Curso X</td>
                <td>Activa</td>
                <td><a href="#">Ver</a> </td>
            </tr>
            <tr>
                <td>Coevaluación 3</td>
                <td>Curso X</td>
                <td>Activa</td>
                <td><a href="#">Ver</a> </td>
            </tr>
            <tr>
                <td>Coevaluación 4</td>
                <td>Curso X</td>
                <td>Activa</td>
                <td><a href="#">Ver</a> </td>
            </tr>
            <tr>
                <td>Coevaluación 5</td>
                <td>Curso X</td>
                <td>Activa</td>
                <td><a href="#">Ver</a> </td>
            </tr>
            <tr>
                <td>Coevaluación 6</td>
                <td>Curso X</td>
                <td>Activa</td>
                <td><a href="#">Ver</a> </td>
            </tr>
            <tr>
                <td>Coevaluación 7</td>
                <td>Curso X</td>
                <td>Activa</td>
                <td><a href="#">Ver</a> </td>
            </tr>
            <tr>
                <td>Coevaluación 8</td>
                <td>Curso X</td>
                <td>Activa</td>
                <td><a href="#">Ver</a> </td>
            </tr>
            <tr>
                <td>Coevaluación 9</td>
                <td>Curso X</td>
                <td>Activa</td>
                <td><a href="#">Ver</a> </td>
            </tr>
            <tr>
                <td>Coevaluación 10</td>
                <td>Curso X</td>
                <td>Activa</td>
                <td><a href="#">Ver</a> </td>
            </tr>

            </tbody>
        </table>




        <br><br>
    </div>

{% endblock %}