{% extends 'base.html' %}

{% block content %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <h4 class="header center black-text">Perfil</h4>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s6"><a href="#profile">Perfil</a></li>
                    <li class="tab col s6"><a href="#grades">Resumen Notas</a></li>
                </ul>
            </div>
            <div id="profile" class="col s12">
                <h5>Datos Personales</h5>
                <table>
                    <tbody>
                    <tr>
                        <td><b>Nombre:</b></td>
                        <td>Pancho Israel Ale</td>
                    </tr>
                    <tr>
                        <td><b>Rut</b></td>
                        <td>69.666.666-9</td>
                    </tr>
                    <tr>
                        <td><b>E-mail</b></td>
                        <td>emailfalso1234@jaja.cl</td>
                    </tr>
                    </tbody>
                </table>
                <br>

                <b>Modificar Contraseña</b>
                <div class="row" style="padding-left: 25px;">
                    <div class="col s12 less-margin-bottom">
                        Antigua Contraseña
                        <div class="input-field inline" style="margin-left: 55px;">
                            <input id="password-old" type="password" class="validate">
                            <label for="password-old">Antigua Contraseña</label>
                        </div>
                    </div>
                    <div class="col s12 less-margin-top-bottom">
                        Nueva Contraseña
                        <div class="input-field inline" style="margin-left: 65px;">
                            <input id="password-new" type="password" class="validate">
                            <label for="password-new">Nueva Contraseña</label>
                        </div>
                    </div>
                    <div class="col s12 less-margin-top">
                        Repetir Nueva Contraseña
                        <div class="input-field inline" style="margin-left: 12px;">
                            <input id="password-new-repeat" type="password" class="validate">
                            <label for="password-new-repeat">Nueva Contraseña</label>
                        </div>
                        <button class="btn waves-effect waves-light" type="submit" name="action" style="margin-left: 50px">
                            Modificar
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>

                </div>


            </div>
            <div id="grades" class="col s12">
                <h5>Notas por Cursos/Coevaluación</h5>
                <table class="highlight responsive-table">
                    <thead>
                    <tr>
                        <th>Coevaluación</th>
                        <th>Curso</th>
                        <th>Nota</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>Coevaluación 1</td>
                        <td>Curso X</td>
                        <td>7.0</td>
                        <td><a href="#">Ver</a> </td>
                    </tr>
                    <tr>
                        <td>Coevaluación 2</td>
                        <td>Curso X</td>
                        <td>7.0</td>
                        <td><a href="#">Ver</a> </td>
                    </tr>
                    <tr>
                        <td>Coevaluación 3</td>
                        <td>Curso X</td>
                        <td>7.0</td>
                        <td><a href="#">Ver</a> </td>
                    </tr>
                    <tr>
                        <td>Coevaluación 4</td>
                        <td>Curso X</td>
                        <td>7.0</td>
                        <td><a href="#">Ver</a> </td>
                    </tr>
                    <tr>
                        <td>Coevaluación 5</td>
                        <td>Curso X</td>
                        <td>7.0</td>
                        <td><a href="#">Ver</a> </td>
                    </tr>
                    <tr>
                        <td>Coevaluación 6</td>
                        <td>Curso X</td>
                        <td>7.0</td>
                        <td><a href="#">Ver</a> </td>
                    </tr>
                    <tr>
                        <td>Coevaluación 7</td>
                        <td>Curso X</td>
                        <td>7.0</td>
                        <td><a href="#">Ver</a> </td>
                    </tr>
                    <tr>
                        <td>Coevaluación 8</td>
                        <td>Curso X</td>
                        <td>7.0</td>
                        <td><a href="#">Ver</a> </td>
                    </tr>
                    <tr>
                        <td>Coevaluación 9</td>
                        <td>Curso X</td>
                        <td>7.0</td>
                        <td><a href="#">Ver</a> </td>
                    </tr>
                    <tr>
                        <td>Coevaluación 10</td>
                        <td>Curso X</td>
                        <td>7.0</td>
                        <td><a href="#">Ver</a> </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}